<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example" method="get" action="http://localhost:8080/test/updateView.java">
    <thead>
	<tr>
	    <th>Title</th>
	    <th>Type</th>
	    <th>Role</th>
	    <th>Last Modified Date</th>
	</tr>
    </thead>
    <tbody>
	
	<tr>
	    <td><a href="activity.html">Activity Title 1</a></td>
	    <td>Activity</td>
	    <td>Owner</td>
	    <td class="center">MM-DD-YY</td>
	</tr>

	<tr>
	    <td><ul class="metismenu" id="menu">
		<li class="active">
		    <a href="#" aria-expanded="true">Initiative Title 1</a>
		    <ul aria-expanded="true">
			Activity Title 1
		    </ul>
		</li>
		<li>
		    <a href="#" aria-expanded="false">Initiative Title 2</a>
		    <ul aria-expanded="false">
			Activity Title 2
		    </ul>
		</li>
	    </ul>
	    </td>
	</tr>
	
	<tr>
	    <td><a href="initiative.html">Initiative Title 3</a></td>
	    <td>Initaitive</td>
	    <td>Initiative Administrator</td>
	    <td class="center">MM-DD-YY</td>
	</tr>
    </tbody>
</table>
<!-- /.table-responsive -->
<button onclick="window.location.href='project.html';" "type="submit" class="btn submit">
    Add Project
</button>
<button onclick="window.location.href='initiative.html';" "type="submit" class="btn submit">
    Add Initiative
</button>
